/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/*============
 Input 
============= */
.ctm-bg{
background-color:#DCDCDC;
border-radius: 3px;
}
/*===========
 button
============ */
.custom-btn{
    background-color: #59A5FF;
}
/*=============
 error Massages
 ============== */
 .custom-warning{
     display: none;
    margin-right: 45px;
 }
